.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  color: white;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}

.footer {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.footer span {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer a {
  text-decoration: none;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.footer svg {
  width: 2rem;
  height: 2rem;
}

/* For pages that are taller than viewport */
@media (min-height: 100vh) {
  .layout {
    height: auto;
  }
}
